[Unit]
Description=Fix keyboard after suspend
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fix-keyboard.sh
SuccessExitStatus=0 1

[Install]
WantedBy=suspend.target
